PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
SUPABASE_URL= "https://puakrabhbhosdpyxfsfk.supabase.co"
SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1YWtyYWJoYmhvc2RweXhmc2ZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzkxODgxMjIsImV4cCI6MjA1NDc2NDEyMn0.B2300ydTIdeiC8trURXcFYGomPypt8EDYzqWC9PP6NQ"
